.root {
  flex-shrink: 0;
}

.sizeXs {
  width: var(--dbm-icon-size-xs);
  height: var(--dbm-icon-size-xs);
}

.sizeSm {
  width: var(--dbm-icon-size-sm);
  height: var(--dbm-icon-size-sm);
}

.sizeMd {
  width: var(--dbm-icon-size-md);
  height: var(--dbm-icon-size-md);
}

.sizeLg {
  width: var(--dbm-icon-size-lg);
  height: var(--dbm-icon-size-lg);
}

.sizeXl {
  width: var(--dbm-icon-size-xl);
  height: var(--dbm-icon-size-xl);
}

.size2xl {
  width: var(--dbm-icon-size-2xl);
  height: var(--dbm-icon-size-2xl);
}

.size3xl {
  width: var(--dbm-icon-size-3xl);
  height: var(--dbm-icon-size-3xl);
}

.toneDefault {
  color: var(--dbm-icon-default);
}

.toneSecondary {
  color: var(--dbm-icon-secondary);
}

.toneBrand {
  color: var(--dbm-icon-brand);
}

.toneDisabled {
  color: var(--dbm-icon-disabled);
}

.toneOnBrand {
  color: var(--dbm-icon-on-brand);
}

.toneOnDanger {
  color: var(--dbm-icon-on-danger);
}

.toneOnWarning {
  color: var(--dbm-icon-on-warning);
}

.toneOnSuccess {
  color: var(--dbm-icon-on-success);
}

.toneOnInfo {
  color: var(--dbm-icon-on-info);
}

.toneOnNeutral {
  color: var(--dbm-icon-on-neutral);
}
