.root {
  bottom: var(--dbm-space-6);
  opacity: var(--dbm-opacity-0);
  pointer-events: none;
  inset-inline-end: var(--dbm-space-6);
  position: fixed;
  transform: translateY(var(--dbm-space-2));
  transition:
    opacity var(--dbm-motion-duration-base) var(--dbm-motion-easing-standard),
    transform var(--dbm-motion-duration-base)
      var(--dbm-motion-easing-standard);
  z-index: var(--dbm-z-index-fixed);
}

.visible {
  opacity: var(--dbm-opacity-100);
  pointer-events: auto;
  transform: translateY(0);
}
