.root {
  background-color: var(--dbm-bg-code);
  border: var(--dbm-border-width-1) solid var(--dbm-border-code);
  border-radius: var(--dbm-radius-sm);
  color: var(--dbm-text-secondary);
  font-family: var(--dbm-font-family-mono);
  font-size: inherit;
  font-weight: var(--dbm-font-weight-medium);
  padding-block: var(--dbm-space-1);
  padding-inline: var(--dbm-space-2);
}
